<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--settings：控制mybatis全局行为-->
    <settings>
        <!--设置输出日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--定义别名-->
    <typeAliases>
        <package name="com.powerwolf.settings.domain"/>
        <package name="com.powerwolf.workbench.domain"/>
    </typeAliases>

    <!--sql映射文件的位置-->
    <mappers>
        <package name="com.powerwolf.settings.dao"/>
        <package name="com.powerwolf.workbench.dao"/>
    </mappers>
</configuration>